<!DOCTYPE html>
<html>
<head>
    <title>ShareConversation - {{ title }}</title>
    <meta property="og:title" content="{{ title }}">
    <meta property="og:image" content="https://shareconversation.com/logo-128.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/stackoverflow-dark.min.css">
<style>
{{{ style }}}
</style>
<script type="module">
{{{ main_js }}}
</script>
</head>
<body>

<div class="w-full h-full flex flex-col">
    <div class="dark sticky top-0 bg-stone-800 items-center">
        <div class="flex flex-row flex-1">
            <button onclick="handleClick()" class="text-stone-200 p-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
            <h1 class="text-stone-200 flex-1 text-center p-2">{{title}}</h1>
            <button onclick="handleClick()" class="text-stone-200 p-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
            </button>
        </div>
    </div>

    <div class="flex flex-col text-stone-700">
        {{#each dialog}}
            {{#if (string_equal "gpt" this.who)}}
        <div class="group w-full border-b bg-stone-50">
            {{/if}}
            {{#if (string_equal "human" this.who)}}
        <div class="group w-full border-b">
            {{/if}}
            <div class="container mx-auto md:max-w-3xl">
                <div class="flex gap-x-6 p-4 whitespace-pre-wrap">
                    <div class="w-[30px] whitespace-normal flex-none">
                        {{#if (string_equal "human" this.who)}}
                            <img src="{{ ../avatar }}" />
                        {{/if}}
                        {{#if (string_equal "gpt" this.who)}}
                            <img src="{{ ../chatgpt_uri }}" />
                        {{/if}}
                    </div>
                    {{#if (string_equal "human" this.who)}}
                        <p>{{ this.what }}</p>
                    {{/if}}
                    {{#if (string_equal "gpt" this.who)}}
                        <div class="markdown whitespace-normal">{{ this.what }}</div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="p-4 container mx-auto text-black/50 text-xs md:max-w-3xl">
        <p>{{ model }}</p>
        <p>This conversation was recorded from <a href="https://chat.openai.com/">https://chat.openai.com/</a> on {{ timestamp }}.</p>
        <p><a href="/">ShareConversation</a> has no affiliation with OpenAI or ChatGPT.</p>
    </div>
</div>

<div class="z-10 fixed bottom-5 inset-x-0 mx-auto max-w-fit rounded-lg px-3 py-2 bg-white border border-gray-100 shadow-md flex justify-between space-x-2 items-center">
    <a href="/">ShareConversation</a>
    <button onclick="copy" class="text-stone-200 p-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0013.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 01-.75.75H9a.75.75 0 01-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 01-2.25 2.25H6.75A2.25 2.25 0 014.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 011.927-.184" />
        </svg>
    </button>
</div>


<hr>

<div class="flex flex-row text-2xl text-stone-800 justify-center">

    <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_email"></a>
    <a class="a2a_button_reddit"></a>
    <a class="a2a_button_tumblr"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->

</div>

<div class="p-[60px]">
</div>

{{!-- <div class="markdown prose w-full break-words dark:prose-invert light bg-black"></div> --}}

</body>
</html>
