<!DOCTYPE html>
<html>
<head>
    <title>ShareConversation - {{ title }}</title>
    <meta property="og:title" content="{{ title }}">
    <meta property="og:image" content="https://shareconversation.com/logo-128.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/stackoverflow-dark.min.css">
<style>
{{{ style }}}
</style>
<script type="module">
{{{ main_js }}}
</script>
</head>
<body>

<div class="w-full h-full flex flex-col">
    <div class="dark sticky top-0 bg-stone-800 items-center">
        <div class="flex flex-row flex-1">
            <button onclick="handleClick()" class="text-stone-200 p-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
            <h1 class="text-stone-200 flex-1 text-center p-2">{{title}}</h1>
            <button onclick="handleClick()" class="text-stone-200 p-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
            </button>
        </div>
    </div>

    <div class="flex flex-col text-stone-700">
        {{#each dialog}}
            {{#if (string_equal "gpt" this.who)}}
        <div class="group w-full border-b bg-stone-50">
            {{/if}}
            {{#if (string_equal "human" this.who)}}
        <div class="group w-full border-b">
            {{/if}}
            <div class="container mx-auto md:max-w-3xl">
                <div class="flex gap-x-6 p-4 whitespace-pre-wrap">
                    <div class="w-[30px] whitespace-normal flex-none">
                        {{#if (string_equal "human" this.who)}}
                            <img src="{{ ../avatar }}" />
                        {{/if}}
                        {{#if (string_equal "gpt" this.who)}}
                            <img src="{{ ../chatgpt_uri }}" />
                        {{/if}}
                    </div>
                    {{#if (string_equal "human" this.who)}}
                        <p>{{ this.what }}</p>
                    {{/if}}
                    {{#if (string_equal "gpt" this.who)}}
                        <div class="markdown whitespace-normal">{{ this.what }}</div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="p-4 container mx-auto text-black/50 text-xs md:max-w-3xl">
        <p>{{ model }}</p>
        <p>This conversation was recorded from <a href="https://chat.openai.com/">https://chat.openai.com/</a> on {{ timestamp }}.</p>
        <p><a href="/">ShareConversation</a> has no affiliation with OpenAI or ChatGPT.</p>
    </div>
</div>

<div class="z-10 fixed bottom-5 inset-x-0 mx-auto max-w-fit rounded-lg px-3 bg-white border border-gray-100 shadow-md flex justify-between space-x-2 items-center">
    <img src="/logo-128.png" width="32" height="32"></img><a href="/">ShareConversation</a>
    <div class="border-l border-gray-200 h-12 w-1"></div>
    <button
        onclick="handleCopy()" 
        class="text-stone-600 p-2"
        data-te-toggle="tooltip"
        data-te-placement="top"
        data-te-ripple-init
        data-te-ripple-color="light"
        title="Copy link"
    >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
        </svg>
    </button>
    <div id="copied" class="text-center lg:px-4 hidden absolute left-[11em] top-[-3em]">
        <div class="p-2 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
            <span class="flex rounded-full bg-indigo-500 px-2 py-1 text-xs font-bold mr-3">Copied link</span>
        </div>
    </div>
</div>


<hr>

<div class="flex flex-row text-2xl text-stone-800 justify-center">

    <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_email"></a>
    <a class="a2a_button_reddit"></a>
    <a class="a2a_button_tumblr"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->

</div>

<div class="p-[60px]">
</div>

{{!-- <div class="markdown prose w-full break-words dark:prose-invert light bg-black"></div> --}}

</body>
</html>
