<!DOCTYPE html>
<html>
<head>
    <title>ShareConversation - {{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/stackoverflow-dark.min.css">
<style>
{{{ style }}}
</style>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
</head>
<body>

<div class="w-full h-full flex flex-col">
    <div class="dark sticky top-0 bg-gray-800 items-center">
        <div class="flex flex-row flex-1">
            <button class="text-gray-200 p-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
            <h1 class="text-gray-200 flex-1 text-center p-2">{{title}}</h1>
            <button class="text-gray-200 p-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
            </button>
        </div>
    </div>

    <div class="flex flex-col text-gray-700">
        {{#each dialog}}
        <div class="group w-full border-b">
            <div class="container mx-auto gap-x-6 p-4 flex">
                <div class="w-[30px] flex-none">
                    {{#if (string_equal "human" this.who)}}
                        <img src="{{ ../avatar }}" />
                    {{/if}}
                    {{#if (string_equal "gpt" this.who)}}
                        <img src="{{ ../chatgpt_uri }}" />
                    {{/if}}
                </div>
                {{#if (string_equal "human" this.who)}}
                    <p>{{ this.what }}</p>
                {{/if}}
                {{#if (string_equal "gpt" this.who)}}
                    {{{ this.what }}}
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>

    <div class="p-4 container mx-auto text-black/50 text-xs">
        <p>{{ model }}</p>
        <p>This conversation was recorded from <a href="https://chat.openai.com/">https://chat.openai.com/</a>.</p>
        <p><a href="/">ShareConversation</a> has no affiliation with OpenAI or ChatGPT.</p>
    </div>
</div>

<hr>


<div class="flex flex-row text-2xl text-gray-800">
    <div class="flex-1 grow-0 m-4">
        <ShareNetwork network="facebook" :url="url" :title="title" hashtags="ai">
            <FontAwesomeIcon icon="fa-brands fa-facebook" />
        </ShareNetwork>
    </div>
    <div class="flex-1 grow-0 m-4">
        <ShareNetwork network="twitter" :url="url" :title="title" hashtags="ai">
            <FontAwesomeIcon icon="fa-brands fa-twitter" />
        </ShareNetwork>
    </div>
    <div class="flex-1 grow-0 m-4">
        <ShareNetwork network="reddit" :url="url" :title="title" hashtags="ai">
            <FontAwesomeIcon icon="fa-brands fa-reddit" />
        </ShareNetwork>
    </div>
</div>

<div class="p-[60px]">
</div>

</body>
</html>
